<%= render :partial => "shared/nav_bar"%>
<div id="central_container">


	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
	<div id="right_column">

	<%= render :partial => "shared/contact_header"%>
<div id="party">

	
<a name= "email-signup" ><h2><a name= "email-signup" >Sign up for EI emails</a></h2>
<p>Get our email newsletter - <span id="newsletter_title"> The Street Eats Beat</span></p>
<%=form_for (@user), :html  => {:multipart  => true }, :remote => true do |f| %>
<%=render "shared/error_messages", :object  => f.object%>
<div class="field">	
	<%=f.label :name %>
	<%=f.text_field :name, :placeholder => "Name"%>
</div>
<div class="field">
	<%=f.label :email %>
	<%=f.text_field :email, :placeholder => "youremail@something.com"%>
</div>

<div class="actions">
	<%=f.submit "Signup!" %>
</div>
<%end%>

</div>
<%= render :partial  => "shared/text_message_instructions" %> 
	
	
