
<%= render :partial => "shared/nav_bar"%>
<div id="central_container">


	<div id="left_column">
		<% @event=@events.last %> 
		<% if @event.date >= 32.hours.ago %> 

		<div id="google_map">
			<h3>Locations of upcoming events</h3>
			
			<%=   gmaps(
			:map_options => {"auto_adjust" => true, 
			  			"zoom" => 11, 
			  			"auto_zoom"  => false,   
			  			:last_map    => false},
			 :markers     => {"data" => @json }
			) %>
		</div>
			<% end %>
		<%= render :partial => "shared/left_column"%>
	</div>

	
	<div id="right_column">

		<div id="events">
			<h1 class="title"> Events, Aspirations, and Tentative Plans </h1> 
			<div id="event_intro">
			<h3 class="twitter_caveat">
				Check twitter feed for updates and details
			</h3>
		</div>			



			<% @events=Event.find(:all, :order => :date) %> 
			<% unless defined? (old_date) 
			 	last_date=5.days.ago

			end #allows for looping over date %>
			<% @future_events.each do |event| %> 

			<% @event=event %>
		 
			 <% if @event.date >= 32.hours.ago #excludes events that took place over 32 hours ago %> 

			<div class="event_container">

				<div class="date_container">
					<% if event.date.strftime("%d") != last_date.strftime("%d") #no duplicate date info when two events occur on the same day %>

					<span class="event_day">

						<%= day_parse(@event.date.wday.to_s) %> 
		

					</span>
					<div class="date_subcontainer">
					<span class="event_month">
						<%= @event.date.strftime("%b") %> 
					</span>
					<span class="event_date">
						<%= @event.date.strftime("%d") %> 
					</span>

	
					</div>



				<% end %>

				</div> 	

				<div class="details_container">


					<h1 class="event_name">
					<%= link_to "#{@event.name}",  event_path(@event) %> 
					</h1>
					<p class="event_details">
						<%= @event.details %> 
					</p>
						<% if @event.pending==true %>
						<span class="pending">
							(pending confirmation)
						</span>

						<% end %>
				</div>

					<div class="time_like_container">
				<span class="event_time">
					<%= @event.date.strftime("%l:%M%p") %> 			
				</span>	
					<div class="fb-like" data-href="http://www.empanadaintifada.com/events/<%="#{event.id}"%>" data-send="true" data-layout ="box_count" data-width="450" data-show-faces="true" data-action="recommend"  data-colorscheme="dark" data-font="verdana">
					</div>

				</div>

			</div>	
			<% last_date=event.date%> 

			<% end %><!--end if event is later than today-->
		
			<% @event=@events.last %> 

			<% end %><!--end for block-->
			<% if @event.date < 32.hours.ago #creates a filler when all events have passed %>
			<h1 id="no_events">  No Events Scheduled</h1>
			<% end %>
	</div>
	
	
	

</div>

