<%= render :partial => "shared/nav_bar"%>
<div id="central_container">
<%= render :partial => "shared/last_tweet"%>
<div id="central_content">
<div id="new_event">

<%=form_for (@event), :html  => {:multipart  => true }, :remote => true do |f| %>
<%=render "shared/error_messages", :object  => f.object%>
<div class="field">	
	<%=f.label :name %>
	<%=f.text_field :name, :placeholder => "Name"%>
</div>
<div class="field">
	<%=f.label :details %>
	<%=f.text_area :details, :placeholder => "Describe the event"%>
</div>
<div class="field">
	<%=f.label :address %>
	<%= f.text_field :address %>
</div>
<div class="field">
	<%=f.label :date %>
	<%= f.datetime_select :date %>
</div>
<div class="field">
	<%=f.label :Pending? %>
	<%= f.check_box :pending, {} %>

</div>
<div class="field">
	<%=f.label :password %>
	<%= f.password_field :password %>
</div>

<div class="actions">
	<%=f.submit "New event!" %>
</div>
<%end%>

</div>
</div>

 <%= render :partial => "shared/bottom_nav"%>
</div>
	
	
