<%= render :partial => "shared/nav_bar"%>
<div id="central_container">
<div id="central_content">
	
	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
	
	<div id="right_column">
		
		<h1> Calling All Artists and Designers </h1>
<h3>Announcing the Empanada Intifada "This is Not a Food Truck" Moving Mural Contest </h3>

<p>Many of you have noticed that while the Empanada Intifada regularly "pops up," and even occasionally "pops and locks," only one side of our fair 1981 Grumman truly "pops."  It's time that the other three sides live up to the awesome food coming from inside.  In the spirit of this election season, we decided that the artistic direction of the truck should be determined by you, our community.</p>

<p> 
	Here's the 'tails:
	<ul>
		<li>Download and ponder these outlines of the aluminum walls of the truck, or come by the <a href="/users/new"> truck</a> to pick up a blank outline</li>
		<div id="download"> 
			<%= link_to image_tag(  "/images/this-is-not-a-food-truck-blank-flyer2.jpg", :id => "flyer"), action: :flyer_download,  filename: "images/this-is-not-a-food-truck-blank-flyer2.jpg" %>			
			<%= link_to "click here to download", {:action => :flyer_download,  :filename => "images/this-is-not-a-food-truck-blank-flyer2.jpg"}, :id => "hard_link",  %>
			
		</div>
		<li>Sketch out designs and ideas in the medium of your choosing, (but please only submit designs you are able and willing to recreate in the non-digital world on a 14x8x8 truck).  No real rules here, but we do want to keep the currently painted side (the empanada starburst thing), so think about integrating it or at least accommodating it.  More truck pics are available <a href="https://www.facebook.com/empanadaintifada/photos" >here</a> </li>
		<li id="truck-pic"><%= image_tag "/images/painted-truck.jpg", :id=> "painted-truck" %> </li>
		<li>Submit your sketches, a description of the idea behind them, the cost including supplies, and your contact info to empanada.intifada@gmail.com or <a href="/users/new">bring it by the truck</a> by October 22nd.  Feel free to bat around ideas via email too. Also, sending links or pics of other works of yours that show a little more of your style are appreciated but not necessary. </li>
</ul>
<p>Finalists will be announced in the last week of October.  We'll post their submissions on our blog and facebook, and we will invite our twitter followers, facebook page-likers and real-world customers to vote on them up to and including Election Day 2012 (Tuesday November 6th).</p>

<h3>What's in it for you?</h3>
<p> In addition to payment, finalists will receive so much free publicity that Kim Kardashian will fire her publicist for incompetence.  In the lead up to the vote, we'll be working the twittersphere incessantly, and will happily include links to all finalists' portfolios and websites.  All finalists will also receive a punch card for 10 free empanadas at the Empanada Intifada.  And of course, the winner will be able to sign their art and have a mobile billboard hurtling through town.  Still got questions?  We're happy to converse: hit us up at empanada.intifada@gmail.com.</p>

<p>
	</div>
	</div>
	</div>
		<%= render :partial => "shared/footer" %>