<%= render :partial => "shared/nav_bar"%>

<div id="central_container">


	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
	<div id="right_column">
		<section class="round">
			<% flash.each do |key, value| %>
			<div class="flash <%=key %>"><%= value %></div>
			<% end %>
			<%= yield %>
		</section>

<%= render :partial => "shared/contact_header"%>
<div id="party">
<h2>Catering and Private Parties</h2>

<p id="first">  New Orleans knows how to eat, and the Empanada Intifada brings the best of NOLA food culture to its catering.  The Empanada Intifada provides guests with a unique eating experience, making it a fantastic choice for any party.  </p>
<img src='/images/empanada-party.jpg' alt="party"/>
<p> Our specialty is Chilean-Style empanadas and our baked, flaky crusts are the foundation of most of our menu items.  But it's the New Orleans tradition of borrowing and creatively combining flavors from all over the world that truly provides our <a href="/menu">menu</a> with it's inspiration.  From Red Beans and Rice with Pankoed Chorizo Meatballs and Andouille to our combination of the traditional Mendoza beef empanada with the Natchitoches Meat Pie, we put dishes in dialogue.</p>	
	
<p> As New Orleans' first Solar-Electric food truck, we also allow guests at catered parties to enjoy a freshly cooked gourmet meal without having to talk over a generator or engine.  Need some tunes for your party?  We travel with modern Latin music and truck-mounted speakers.</p><img src="/images/sangria.jpg"/>

<p>We've been there for birthday parties, wedding after-parties, festivals, work meetings, film shoots, engagement parties, rehearsals, fundraisers, soirees, shindigs, and the occasional hootenanny.  We hope yours is next.</p> 
<p>Contact us for details: empanada.intifada@gmail.com or (504) 684-5358</p>
</div>

</div>
