<%= render :partial => "shared/nav_bar"%>

<div id="central_container">

<div id="central_content">
	<%= render :partial => "shared/contact_header"%>

<h2><a name="textmark">	<%=link_to "Where is the Empanada Intifada?" , new_user_path, :class => "signup_button_round"%> </a></h2>
<div id="texts">
<a href="text_message">		<h2 id="text-title">Text message alerts!</h2> </a>
		<img id="cell"src='/images/cell-phone-texting-crop.png' alt="cell"/>
		
<div id="crystal">		
<p >Empanada Intifada could be anywhere depending on the vicissitudes of weather, parking, plain old dumb luck, and the whims of its pilots.  Luckily future-seeing crystal balls have been placed in your phones and computers.  </p> </div>
<div id="text">
	<p>Check out our free <a href="text_message">text-message service </a> and get an alert any time we're in your area </p>

</div>
<a name="emailmark"><h2>The Lost Art of Receiving Emails</h2></a>
<p>Perhaps in this day and age of texts, push alerts, and micro-tweeting haiku status updates, you just want to relax, let your hair down, and hear about our plans, aspirations, perspirations, and more in long form via email (~1 email per week).  We do that too!
	<%=link_to "Sign up!" , new_user_path, :class => "signup_button_round"%>
	</p>
</div>
<div id="party">
<a href="/catering"><h2>Catering and Private Parties</h2></a>

<p>  Check out our <a href="/catering">catering info</a>, or <img src='/images/empanada-party.jpg' alt="party"/>
contact us for details: empanada.intifada@gmail.com or (504) 684-5358</p>
</div>
</div>

	 <%= render :partial => "shared/bottom_nav"%>

	</div>
	</div>
	
	<%= render :partial => "shared/footer" %>