<%= render :partial => "shared/nav_bar"%>

<div id="central_container">


	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
	<div id="right_column">
<div id='header'>
	<img src='/images/empanada-logo.png' alt="logo"/>
</div>
<section class="round">
	<% flash.each do |key, value| %>
	<div class="flash <%=key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</section>
<div id="general">
<span class="wrapper">
	<span class="media">	email: </span>
	
	<span class="value">
	<a href="mailto:empanadaintifada@gmail.com">empanadaintifada@gmail.com</a>			
	</span>
	
	
	</span>

<span class="wrapper"><span class="media">	cell: </span><span class="value"> (504) 684-5358	</span></span>
<span class="wrapper"><span class="media">	blog: </span><span class="value"> <a href="http://empanadaintifada.tumblr.com" target="_blank"> empanadaintifada.tumblr.com	</a></span></span>

<span class="wrapper"><span class="media">	facebook:</span><span class="value"> <a href='http://www.fb.com/empanadaintifada' target="_blank">fb.com/empanadaintifada	</a></span></span>

<span class="wrapper"><span class="media">	twitter: </span><span class="value"><a href="http://www.twitter.com/empanadaintifad" target="_blank">@empanadaintifad</a></span></span>
</div>
<div id="party">
<h2>Catering and Private Parties</h2>

<p id="first">  The Empanada Intifada loves adding flavor to festive occasions. New Orleans' first Solar-Electric food truck lets guests enjoy a gourmet meal without having to talk over a generator or engine.  We've been there for birthday parties, work meetings, film shoots, engagement parties, rehearsals, fundraisers, soirees, shindigs, and the occasional hootenanny.</p> <img src='/images/empanada-party.jpg' alt="party"/>
<p>Contact us for details: empanada.intifada@gmail.com or (504) 684-5358</p>
</div>
<h2><a name="textmark">	<%=link_to "Where is the Empanada Intifada?" , new_user_path, :class => "signup_button_round"%> </a></h2>
<div id="texts">


		<h2 id="text-title">Text message alerts!</h2>
		<img id="cell"src='/images/cell-phone-texting-crop.png' alt="cell"/>
		
<div id="crystal">		
<p >Empanada Intifada could be anywhere depending on the vicissitudes of weather, parking, plain old dumb luck, and the whims of its pilots.  Luckily future-seeing crystal balls have been placed in your phones and computers.  </p> <img src="/images/crystal-ball-truck.png"/></div>
<div id="text">
	<p>If you want to know when the truck is rolling to your area in real time (and get exclusive text-message empanada giveaways), <%=link_to "Join a text message group!" , new_user_path, :class => "signup_button_round"%></p>

</div>
<a name="emailmark"><h2>The Lost Art of Receiving Emails</h2></a>
<p>Perhaps in this day and age of texts, push alerts, micro-tweeting mini-haikus, you just want to relax, let your hair down, and hear about our plans, aspirations, perspirations, and more in long form via email (~1 email per week).  We do that too!
	<%=link_to "Sign up!" , new_user_path, :class => "signup_button_round"%>
	</p>
</div>

</div>
</div>
	<%= render :partial => "shared/footer" %>