<%= render :partial => "shared/nav_bar"%>
<%= render :partial => "shared/news"%>
<div id="central_container">

<div id="central_content">
	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
			<%= render :partial => "shared/header"%>
	<div id="right_column">

		<div id="photo_border">
		<div id="slideshow">
	  		<div id="image_div1" class="active">
				<img src="/images/sasquash.jpg"/>
			</div>
	  		<div id="image_div2">
				<img src="/images/sangria.jpg" />
			</div>
			<div id="image_div3">
				<img src="/images/beanavista.jpg" />
			</div>
		</div>	
		</div>
		
				

	<h2> <a href="contact#textmark">Where is the Empanada Intifada?</a></h2>	
	</div>
</div>
</div>
	<%= render :partial => "shared/footer" %>
