<%= render :partial => "shared/nav_bar"%>
<%= render :partial => "shared/news"%>
<div id="central_container">

	<div id="central_content">
		
		<img src="/images/2x8-empanada-banner.jpg" id="banner"/>

		<div id="photo_border">
			<img src="/images/sangria.jpg" id = "sangria"/>

		</div>
			 <%= render :partial => "shared/last_tweet"%>
	 <%= render :partial => "shared/bottom_nav"%>
	</div>
	
</div>

	<%= render :partial => "shared/footer" %>
