<%= render :partial => "shared/nav_bar"%>
<%= render :partial => "shared/news"%>
<div id="central_container">

<div id="central_content">
	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
			<%= render :partial => "shared/header"%>
	<div id="right_column">
		<div id="news"> 
			<div id="news_title">
			<h3> Empanada Intifada In the News:</h3>
		
			</div>
			<div id="news_items">	
				<a class="news-item" href="http://www.gonola.com/2011/09/20/gonola-top-5-new-orleans-food-trucks.html" target="_blank">
					<img src="/images/go_nola.jpg"/> 
					<span> GoNOLA names EI top New Orleans food truck </span> 
				</a>
				
				<a class="news-item" href="http://www.thedailymeal.com/101-best-food-trucks-america?page=0,1" target="_blank">
					<img id="tdm" src="/images/tdm_logo_footer.png"/> 
					<span> EI Named One of the Top 101 Food Trucks in the Country</span> 
				</a>
				
				<a class="news-item" href="http://www.details.com/style-advice/food-and-drinks/201205/farmers-markets-at-night" target="_blank">
					<img id="details" src="/images/details.jpg"/> 
					<span> Details Magazine Shows Love for the Mestizo Meat Pie</span> 
				</a>

				<a class="news-item" href="http://nola.eater.com/archives/2012/06/01/guerilla-trucking-with-empanad-intifadas-taylor-jackson.php" target="_blank">
					<img src="/images/eater-nola-icon.png"/> 
					<span> Eater NOLA goes long with EI </span> 
				</a>	
			</div>
		</div>
		<div id="photo_border">
		<div id="slideshow">
	  		<div id="image_div1" class="active">
				<img src="/images/sasquash.jpg"/>
			</div>
	  		<div id="image_div2">
				<img src="/images/sangria.jpg" />
			</div>
			<div id="image_div3">
				<img src="/images/beanavista.jpg" />
			</div>
		</div>	
		</div>
		
				

	<h2> <a href="contact#textmark">Where is the Empanada Intifada?</a></h2>	
	</div>
</div>
</div>
	<%= render :partial => "shared/footer" %>
