
<%= render :partial => "shared/nav_bar"%>
<div id="central_container">
<div id="central_content">
	
	<div id="left_column">
	<%= render :partial => "shared/left_column"%>
	</div>
	
	<div id="right_column">
		<%=form_for (@email), :html  => {:multipart  => true }, :remote => true do |f| %>
		<%=render "shared/error_messages", :object  => f.object%>
		<div class="field">	
			<%=f.label :content %>
			<%=f.text_area :content %>
		</div>
		<div class="field">
			<%=f.label :password %>
			<%=f.password_field :password %>
		</div>

		<div class="actions">
			<%=f.submit "send email!" %>
		</div>
		<%end%>
		<div id="preview">
			<p>
		</div>
	</div>
	
</div>
</div>
	<%= render :partial => "shared/footer" %>