<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="keywords" content="food truck, guerrilla gourmet, catering new orleans, gourmet food truck new orleans, empanadas new orleans"/> 
	<title> 
		Empanada Intifada | Guerrilla Gourmet Food Truck.  Uprising-in-progress.
	</title>
	
	<link rel ="shortcut icon" href="/images/favicon.ico"/>
	<%= stylesheet_link_tag( css_path, :media => :all ) %>
	<%= javascript_include_tag :defaults %>

<!--[if lt IE 8]><%= stylesheet_link_tag 'ie' %><![endif]--> 

<script type="text/javascript" src="javascripts/jquery.js"></script>

<script>
function slideSwitch() {
    var $active = $('#slideshow DIV.active');

    if ( $active.length == 0 ) $active = $('#slideshow DIV:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow DIV:first');

    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}

$(function() {
    setInterval( "slideSwitch()", 5000 );
});

</script>


	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7459404-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>



	



	</head>
	
	<body>
		<%= flash_box %>
		<%= yield %>
	</body>
</html>